.furniture-deals-container {
  text-align: center;
    padding: 10px;
    background: #f8f9fa;
    position: relative;
    margin: 0;
}
.furniture-deals-container h2 {
  font-size: 28px;
  margin-bottom: 15px;
  display: flex;
  margin-left: 0;
}

/* Scroll wrapper for arrows */
.furniture-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Furniture items container */
.furniture-items-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  scrollbar-width: none; /* Hide scrollbar */
  scroll-behavior: smooth;
  width: 100%;
}

/* Hide scrollbar for Webkit browsers */
.furniture-items-container::-webkit-scrollbar {
  display: none;
}

/* Furniture card */
.furniture-item-card {
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  min-width: 230px;
  width: 150px; 
  height:auto;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.furniture-item-card img:hover {
  transform: scale(1.05);
}

/* Image styling */
.furniture-item-card img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  
  margin: 0;
  padding: 0;
}

/* Text alignment */
.furniture-item-card h3 {
  font-size: 16px;
    margin:0;
    padding: 0;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }


/* Offer styling */
.furniture-offer {
  font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin:0;
    padding: 0;
    border-radius: 5px;
    background: #ffffff;
    display: inline-block;
}

.offer-highlight {
  background: #ffd700;
  color: #000;
}

.offer-discount {
  background: #e44d26;
  color: white;
}

/* Arrows */
.furniture-arrow {
  background: #ececf2;
    color: white;
    border: none;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background 0.3s;
}

.furniture-arrow:hover {
  background: #616161;
}

.furniture-arrow.left {
  left: 10px;
}

.furniture-arrow.right {
  right: 10px;
}

.furniture-arrow:disabled {
  background: gray;
  cursor: not-allowed;
}
